---
layout: default
title: "#notGDC 2023"
---
<!-- Header -->
<header class="masthead ngdc-flex">
  <div class="ngdc-container text-center margin-auto-y">
	<img class="masthead-logo" src="/assets/img/notgdc-logotype.svg" alt="#notGDC 2023, march 20-24, a game development non-conference, for everyone!" />

    <div>
      <h3 class="ngdc-margin-bottom-big">Thank you everyone for attending!<br><br>Go check all the <a href="#submissions">submissions</a> to see what people made!</h3>
    </div>

    {% comment %}
    <div class="ngdc-row ngdc-margin-bottom-big">
      <div class="ngdc-col">
        <a class="ngdc-btn btn-light btn-xl btn-special" href="https://form.notgdc.io/">Click Here To Submit!</a>
      </div>
    </div>
    {% endcomment %}

    <div class="ngdc-row">
      <div class="ngdc-col">
        <a class="ngdc-btn" href="https://twitter.com/notGDC">{%- include icon.html icon="twitter" -%}Follow on Twitter</a>
        <a class="ngdc-btn" href="https://mastodon.gamedev.place/@notGDC">{%- include icon.html icon="mastodon" -%}Follow on Mastodon</a>
        <a class="ngdc-btn" href="https://discord.notgdc.io/">{%- include icon.html icon="discord" -%}Join the Discord</a>
      </div>
    </div>
    <br/>
    <div class="ngdc-row ngdc-bottom-center">
      <div class="ngdc-col">
        <a href="#about" aria-label="Jump to details">{%- include icon.html icon="angle-down" class="fa-3x anim-pulse-down down-arrow" -%}</a>
      </div>
    </div>
    <br><br>
  </div>
</header>

<!-- About -->
<section class="content-section bg-dark text-light soft-dropshadow-text" id="about">
  <div class="ngdc-container text-center">
    <div class="ngdc-row">
      <div class="content-section-heading ngdc-col-83p margin-auto-x">
        <h1>How to take part</h1>
        <p class="lead ngdc-margin-bottom-big">#notGDC is a way for people who make games to share ideas, skills and things they love with
          the international games community.</p>

        <div class="ngdc-row">
          <div class="ngdc-col-25p margin-auto-x padding-y-small-screen">
            {%- include icon.html icon="pencil" class="fa-4x svg-bg-dark" -%}<br><br>
            <b>Write Something</b><br>
            <hr class="ngdc-small-line">
            Pen us a blog, an essay, a love letter, a research paper, or mix up a great thread on Twitter.
          </div>
          <div class="ngdc-col-25p margin-auto-x padding-y-small-screen">
            {%- include icon.html icon="microphone" class="fa-4x svg-bg-dark" -%}<br><br>
            <b>Record Something</b><br>
            <hr class="ngdc-small-line">
            Record a podcast with friends, a quick YouTube video, or do a Twitch stream.
          </div>
          <div class="ngdc-col-25p margin-auto-x padding-y-small-screen">
            {%- include icon.html icon="retweet" class="fa-4x svg-bg-dark" -%}<br><br>
            <b>Share Something</b><br>
            <hr class="ngdc-small-line">
            Open source some helpful code, release a tutorial project, or teach us a weird trick.
          </div>
          <div class="ngdc-col-25p margin-auto-x padding-y-small-screen">
            {%- include icon.html icon="question" class="fa-4x svg-bg-dark" -%}<br><br>
            <b>Or Something Else</b><br>
            <hr class="ngdc-small-line">
            Got a different idea? If you've got something to share, we want to help you share it.
          </div>
        </div>
        <br><br>
		<a class="ngdc-btn btn-xl" href="{% link _pages/faq.md %}">FAQ</a>
		<a class="ngdc-btn btn-xl" href="#schedule">Live Schedule</a>
        <a class="ngdc-btn btn-light btn-xl btn-special" href="https://form.notgdc.io/">Click Here To Submit!</a>
        <a class="ngdc-btn btn-light btn-xl" href="http://twitter.com/notGDC">Ask Us Something</a>
      </div>
    </div>
  </div>
</section>

{% comment %}
<section class="content-section bg-dark text-light">
  <div class="content-section-heading">
    <h2 id="twitch">Twitch Stream</h2>
    <iframe src="https://player.twitch.tv/?channel=notgdc&parent=notgdc.io&muted=true&autoplay=false" height="450"
      width="800" allowfullscreen>
    </iframe>
  </div>
</section>
{% endcomment %}

<section class="content-section bg-light" id="schedule">
  <div class="ngdc-container">
    <div class="content-section-heading">
      <h2 id="submissions">Live Schedule</h2>
    </div>
	<p>We will be hosting live sessions on <a href="https://discord.notgdc.io/">{%- include icon.html icon="discord" -%}Discord</a>, rebroadcast on <a href="https://twitch.tv/notgdc">{%- include icon.html icon="twitch" -%}Twitch</a>.</p>

	<p>Check out the <a href="https://docs.google.com/spreadsheets/d/1o7NaKm_rlT3spANVOmxQPYyb7zpO6eIWUHLGGaSBFKI/edit#gid=0">current schedule</a>, and come chat on <a href="https://discord.notgdc.io/">{%- include icon.html icon="discord" -%}Discord</a> to book your slot!</p>
  </div>
</section>


<section class="content-section bg-light">
  <div class="ngdc-container">
    <div class="content-section-heading">
      <h2 id="submissions">2023 #notGDC Submissions</h2>
    </div>
    {%- assign submissions = site.data.submissions.submissions | where: "year", "2023" -%}
	{% if submissions.size > 0 %}
    {%- include tags.html submissions = submissions -%}

    {% for submission in submissions %}
	    {% include submission.html submission=submission %}
    {% endfor %}
	{% else %}
	<p class="no-submissions">Submissions started ! Go to <a href="https://form.notgdc.io/">https://form.notgdc.io/</a> to submit your #notGDC content !</p>
	{% endif %}
  </div>
</section>

<section class="content-section bg-dark text-light soft-dropshadow-text">
  <div class="content-section-heading">
    <h2 id="archive">Previous Years</h2>
    <div class="ngdc-row">
      <div class="ngdc-col">
        <a class=" ngdc-btn " href="/archive/">#notGDC Archive</a>
        <a class=" ngdc-btn " href="/2022/">2022</a>
        <a class=" ngdc-btn " href="/2020/">2020</a>
        <a class=" ngdc-btn " href="/2019/">2019</a>
        <a class=" ngdc-btn " href="/2018/">2018</a>
        <a class=" ngdc-btn " href="/2017/">2017</a>
      </div>
    </div>
  </div>
</section>
