---
layout: default
---
<!-- Header -->
<header class="masthead ngdc-flex">
  <div class="ngdc-container text-center margin-auto-y">
	<img class="masthead-logo" src="/assets/img/notgdc-logotype.svg" alt="#notGDC 2023, march 20-24, a game development non-conference, for everyone!" />
	  <!--
    <h1>#notGDC</h1>
    <h2>2023</h2>
    <h3>march 20-24</h3>
	<h4>a game development non-conference, <strong>for everyone!</strong></h4>
	  -->
    <div>
      <h3 id="countdown" class="ngdc-margin-bottom-big"></h3>
    </div>
<!-- 
    <br>
    <div class="ngdc-row">
      <div class="ngdc-col">
	  <a class=" ngdc-btn btn-xl" href="#about">Submit Something</a>
		<a class=" ngdc-btn btn-xl " href="#submissions">Read Submissions</a>
      </div>
    </div>
    <br>
    <br>
-->

    <div class="ngdc-row">
      <div class="ngdc-col">
        <a class="ngdc-btn" href="https://twitter.com/notGDC">{%- include icon.html icon="twitter" -%}Follow on Twitter</a>
        <a class="ngdc-btn" href="https://mastodon.gamedev.place/@notGDC">{%- include icon.html icon="mastodon" -%}Follow on Mastodon</a>
        <a class="ngdc-btn" href="https://discord.notgdc.io/">{%- include icon.html icon="discord" -%}Join the Discord</a>
      </div>
    </div>
    <br/>
    <div class="ngdc-row ngdc-bottom-center">
      <div class="ngdc-col">
        <a href="#about">{%- include icon.html icon="angle-down" class="fa-3x anim-pulse-down down-arrow" -%}</a>
      </div>
    </div>
    <br><br>
  </div>
</header>

<!-- About -->
<section class="content-section bg-dark text-light soft-dropshadow-text" id="about">
  <div class="ngdc-container text-center">
    <div class="ngdc-row">
      <div class="content-section-heading ngdc-col-83p margin-auto-x">
        <h1>How to take part</h1>
        <p class="lead ngdc-margin-bottom-big">#notGDC is a way for people who make games to share ideas, skills and things they love with
          the international games community.</p>

        <div class="ngdc-row">
          <div class="ngdc-col-25p margin-auto-x">
            {%- include icon.html icon="pencil" class="fa-4x svg-bg-dark" -%}<br><br>
            <b>Write Something</b><br>
            <hr class="ngdc-small-line">
            Pen us a blog, an essay, a love letter, a research paper, or mix up a great thread on Twitter.
          </div>
          <div class="ngdc-col-25p margin-auto-x">
            {%- include icon.html icon="microphone" class="fa-4x svg-bg-dark" -%}<br><br>
            <b>Record Something</b><br>
            <hr class="ngdc-small-line">
            Record a podcast with friends, a quick YouTube video, or do a Twitch stream.
          </div>
          <div class="ngdc-col-25p margin-auto-x">
            {%- include icon.html icon="retweet" class="fa-4x svg-bg-dark" -%}<br><br>
            <b>Share Something</b><br>
            <hr class="ngdc-small-line">
            Open source some helpful code, release a tutorial project, or teach us a weird trick.
          </div>
          <div class="ngdc-col-25p margin-auto-x">
            {%- include icon.html icon="question" class="fa-4x svg-bg-dark" -%}<br><br>
            <b>Or Something Else</b><br>
            <hr class="ngdc-small-line">
            Got a different idea? If you've got something to share, we want to help you share it.
          </div>
        </div>
        <br><br>
        <p class=" ngdc-btn btn-light btn-xl ngdc-btn-disabled">Submissions open Feb 20</p>
        {% comment %}
        <a class="ngdc-btn btn-light btn-xl btn-special" href="https://form.notgdc.io/">Click Here To Submit!</a>
        {% endcomment %}
        <a class="ngdc-btn btn-light btn-xl btn-special" href="http://twitter.com/notGDC">Ask Us Something</a>
      </div>
    </div>
  </div>
</section>

{% comment %}
<section class="content-section bg-dark text-light" id="twitch">
  <div class="content-section-heading">
    <h2>Twitch Stream</h2>
    <iframe src="https://player.twitch.tv/?channel=notgdc&parent=notgdc.io&muted=true&autoplay=false" height="450"
      width="800" allowfullscreen>
    </iframe>
  </div>
</section>
{% endcomment %}

<section class="content-section bg-light" id="submissions">
  <div class="ngdc-container">
    <div class="content-section-heading">
      <h2 id="submissions">2023 #notGDC Submissions</h2>
    </div>
    {%- assign submissions = site.data.submissions.submissions | where: "year", "2023" -%}
	{% if submissions.size > 0 %}
    {%- include tags.html submissions = submissions -%}

    {% for submission in submissions %}
	    {% include submission.html submission=submission %}
    {% endfor %}
	{% else %}
	<p class="no-submissions">Submissions open Feb 20, 2023!</p>
	{% endif %}
  </div>
</section>

<section class="content-section bg-dark text-light soft-dropshadow-text" id="twitch">
  <div class="content-section-heading">
    <h2 id="archive">Previous Years</h2>
    <div class="ngdc-row">
      <div class="ngdc-col">
        <a class=" ngdc-btn " href="/archive/">#notGDC Archive</a>
        <a class=" ngdc-btn " href="/2022/">2022</a>
        <a class=" ngdc-btn " href="/2020/">2020</a>
        <a class=" ngdc-btn " href="/2019/">2019</a>
        <a class=" ngdc-btn " href="/2018/">2018</a>
        <a class=" ngdc-btn " href="/2017/">2017</a>
      </div>
    </div>
  </div>
</section>
