---
layout: default
title: "#notGDC 2025"
theme: "2025"
---
<header class="masthead screen-fill ngdc-flex">
  <div class="ngdc-container text-center margin-auto-y">
	  <img class="masthead-logo ngdc-margin-bottom-big" src="/assets/img/notgdc-logotype-2024.svg" alt="#notGDC 2024, march 18-22, a game development non-conference, for everyone!" />

	  {% include logo.html %}

    {% comment %}
    <div>
      <h3 id="countdown" class="ngdc-margin-bottom-big"></h3>
    </div>
	{% endcomment %}

    {% comment %}
    <div>
      <h3 class="ngdc-margin-bottom-big">Thank you everyone for attending!<br><br>Go check all the <a href="#submissions">submissions</a> to see what people made!</h3>
    </div>
    {% endcomment %}

{% comment %}
    <div class="ngdc-row ngdc-margin-bottom-big">
      <div class="ngdc-col">
        <a class="ngdc-btn btn-light btn-xl btn-special" href="{% link _pages/form.md %}">Click Here To Submit!</a>
      </div>
    </div>
{% endcomment %}

    <div class="ngdc-row">
      <div class="ngdc-col">
        <a class="ngdc-btn" href="https://bsky.app/profile/notgdc.bsky.social/">{%- include icon.html icon="bluesky" -%}Follow on Bluesky</a>
        <a class="ngdc-btn" href="https://mastodon.gamedev.place/@notGDC">{%- include icon.html icon="mastodon" -%}Follow on Mastodon</a>
        <a class="ngdc-btn" href="https://discord.notgdc.io/">{%- include icon.html icon="discord" -%}Join the Discord</a>
      </div>
    </div>
    <br/>
    <div class="ngdc-row ngdc-bottom-center">
      <div class="ngdc-col">
        <a href="#about" aria-label="Jump to details">{%- include icon.html icon="angle-down" class="fa-3x anim-pulse-down down-arrow" -%}</a>
      </div>
    </div>
    <br><br>
  </div>
</header>

<section class="content-section bg-dark text-light soft-dropshadow-text" id="about">
  <div class="ngdc-container text-center">
    <div class="ngdc-row">
      <div class="content-section-heading ngdc-col-83p margin-auto-x">
        <h1>How to take part</h1>
        <p class="lead ngdc-margin-bottom-big">#notGDC is a way for people who make games to share ideas, skills and things they love with
          the international games community.</p>

        <div class="ngdc-row">
          <div class="ngdc-col-25p margin-auto-x padding-y-small-screen">
            {%- include icon.html icon="pencil" class="fa-4x svg-bg-dark" -%}<br><br>
            <b>Write Something</b><br>
            <hr class="ngdc-small-line">
            Pen us a blog, an essay, a love letter, a research paper, anything you like!
          </div>
          <div class="ngdc-col-25p margin-auto-x padding-y-small-screen">
            {%- include icon.html icon="microphone" class="fa-4x svg-bg-dark" -%}<br><br>
            <b>Record Something</b><br>
            <hr class="ngdc-small-line">
            Record a podcast with friends, a quick YouTube video, or do a Twitch stream.
          </div>
          <div class="ngdc-col-25p margin-auto-x padding-y-small-screen">
            {%- include icon.html icon="retweet" class="fa-4x svg-bg-dark" -%}<br><br>
            <b>Share Something</b><br>
            <hr class="ngdc-small-line">
            Open source some helpful code, release a tutorial project, or teach us a weird trick.
          </div>
          <div class="ngdc-col-25p margin-auto-x padding-y-small-screen">
            {%- include icon.html icon="question" class="fa-4x svg-bg-dark" -%}<br><br>
            <b>Or Something Else</b><br>
            <hr class="ngdc-small-line">
            Got a different idea? If you've got something to share, we want to help you share it.
          </div>
        </div>
        <br><br>
		<a class="ngdc-btn btn-xl" href="{% link _pages/faq.md %}">FAQ</a>

{% comment %}
        <a class="ngdc-btn btn-light btn-xl btn-special" href="{% link _pages/form.md %}">Click Here To Submit!</a>
{% endcomment %}
      </div>
    </div>
  </div>
</section>

{% comment %}
<section class="content-section bg-dark text-light">
  <div class="content-section-heading">
    <h2 id="twitch">Twitch Stream</h2>
    <iframe src="https://player.twitch.tv/?channel=notgdc&parent=notgdc.io&muted=true&autoplay=false" height="450"
      width="800" allowfullscreen>
    </iframe>
  </div>
</section>

<section class="content-section bg-light" id="schedule">
  <div class="ngdc-container">
    <div class="content-section-heading">
      <h2 id="submissions">Live Schedule</h2>
    </div>
	<p>We will be hosting live sessions on <a href="https://discord.notgdc.io/">{%- include icon.html icon="discord" -%}Discord</a>, rebroadcast on <a href="https://twitch.tv/notgdc">{%- include icon.html icon="twitch" -%}Twitch</a>.</p>

	<p>Check out the <a href="https://docs.google.com/spreadsheets/d/1o7NaKm_rlT3spANVOmxQPYyb7zpO6eIWUHLGGaSBFKI/edit#gid=0">current schedule</a>, and come chat on <a href="https://discord.notgdc.io/">{%- include icon.html icon="discord" -%}Discord</a> to book your slot!</p>
  </div>
</section>
{% endcomment %}

<section class="content-section bg-light">
  <div class="ngdc-container">
    <div class="content-section-heading">
      <h2 id="submissions">2025 #notGDC Submissions</h2>
    </div>
    {%- assign submissions = site.data.submissions.submissions | where: "year", "2025" -%}
	{% if submissions.size > 0 %}
    {%- include tags.html submissions = submissions -%}

    {% for submission in submissions %}
	    {% include submission.html submission=submission %}
    {% endfor %}
	{% else %}
	<p class="no-submissions">Submissions started! Use the <a href="{% link _pages/form.md %}">online form</a> to submit your #notGDC content!</p>
	{% endif %}
  </div>
</section>

<section class="content-section bg-dark text-light soft-dropshadow-text">
  <div class="content-section-heading">
    <h2 id="archive">All Years</h2>
{%- include navigation_inner.html -%}
  </div>
</section>
