<meta charset="utf-8">

{% include seo.html %}

<link href="{% if site.atom_feed.path %}{{ site.atom_feed.path }}{% else %}{{ '/feed.xml' | relative_url }}{% endif %}" type="application/atom+xml" rel="alternate" title="{{ site.title }} Feed">

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/assets/fontawesome/css/all.min.css' | relative_url }}">

<link href="https://fonts.googleapis.com/css?family=Lilita+One|Nunito+Sans:500,700&amp;display=swap" rel="stylesheet">
<script defer data-domain="notgdc.io" src="https://plausible.io/js/script.js"></script>

<style>
  .btn-special{
    background-color:#f9b641!important;
  }
  .btn-special:hover{
    background-color:#ffd34e!important;
  }

  </style>


<!-- Bootstrap Core CSS -->
<link href="{{ '/assets/vendor/bootstrap/css/bootstrap.min.css' | relative_url }}" rel="stylesheet">

<!-- Custom Fonts -->
<link href="{{ '/assets/vendor/font-awesome/css/font-awesome.min.css' | relative_url }}" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
<link href="{{ '/assets/vendor/simple-line-icons/css/simple-line-icons.css' | relative_url }}" rel="stylesheet">

<!-- Custom CSS -->
<link href="{{ 'assets/css/stylish-portfolio.min.css' | relative_url }}" rel="stylesheet">
