<section class="bg-dark text-light" style="padding:2em;" id="navigation">
    <div class="content-section-heading">
      <div class="ngdc-row">
        <div class="ngdc-col">
          <a class=" ngdc-btn " href="/">#notGDC Home</a>
          <a class=" ngdc-btn " href="/archive/">#notGDC Archive</a>
          <a class=" ngdc-btn " href="/2023/">#notGDC 2023</a>
          <a class=" ngdc-btn " href="/2022/">#notGDC 2022</a>
          <a class=" ngdc-btn " href="/2020/">#notGDC 2020</a>
          <a class=" ngdc-btn " href="/2019/">#notGDC 2019</a>
          <a class=" ngdc-btn " href="/2018/">#notGDC 2018</a>
          <a class=" ngdc-btn " href="/2017/">#notGDC 2017</a>
        </div>
      </div>
    </div>
  </section>
