<section class="bg-dark text-light" id="navigation">
    <div class="content-section-heading">
      <div class="ngdc-row">
        <div class="ngdc-col">
          <a class="ngdc-btn" href="{% link index.html %}">#notGDC Home</a>
          <a class="ngdc-btn" href="{% link _pages/faq.md %}">FAQ</a>
          <a class="ngdc-btn" href="{% link _pages/archive.md %}">Archive</a>
          <a class="ngdc-btn" href="{% link _pages/2023.md %}">2023</a>
          <a class="ngdc-btn" href="{% link _pages/2022.md %}">2022</a>
          <a class="ngdc-btn" href="{% link _pages/2020.md %}">2020</a>
          <a class="ngdc-btn" href="{% link _pages/2019.md %}">2019</a>
          <a class="ngdc-btn" href="{% link _pages/2018.md %}">2018</a>
          <a class="ngdc-btn" href="{% link _pages/2017.md %}">2017</a>
        </div>
      </div>
    </div>
  </section>
