<section class="bg-dark text-light" id="navigation">
    <div class="content-section-heading">
      <div class="ngdc-row">
        <div class="ngdc-col">
          <a class=" ngdc-btn " href="/">#notGDC Home</a>
          <a class=" ngdc-btn " href="/archive/">Archive</a>
          <a class=" ngdc-btn " href="/2023/">2023</a>
          <a class=" ngdc-btn " href="/2022/">2022</a>
          <a class=" ngdc-btn " href="/2020/">2020</a>
          <a class=" ngdc-btn " href="/2019/">2019</a>
          <a class=" ngdc-btn " href="/2018/">2018</a>
          <a class=" ngdc-btn " href="/2017/">2017</a>
        </div>
      </div>
    </div>
  </section>
