<div class="row">
<div class="col-lg-2">
{%- for tag in include.submission.tags -%}
<a href="/tags/{{ tag }}"><span class="badge"
style="background-color:{{ site.data.tags[tag].background-color }}; color:#ffffff; font-size:12px">{{ site.data.tags[tag].title }}</span></a>
{%- endfor -%}
</div>
<div class="col-lg-10">
<a class="portfolio-item" href="{{ include.submission.link }}">
<h3 style="font-size:1.5rem">{{ include.submission.title }}</h3>
</a>
<p> by <a href="{{ include.submission.author_link }}">{{ include.submission.author }}</a></p>
</div>
</div>
