<div class="ngdc-row" style="justify-content:center" id="filter-row-collapsed">
    <a class="tag-link no-underline" onclick="toggleFilterRow()">
        <span class="badge">
                Show Filters
        </span>
    </a>
</div>
<div class="ngdc-row" style="justify-content:center" id="filter-row">
    {%- for submission in include.submissions -%}
        {%- for tag in submission.tags -%}
        {%- assign used_tags = used_tags | append: " " | append: tag -%}
        {%- endfor -%}
    {%- endfor -%}
    {%- assign used_tags = used_tags | split: " " | sort | uniq | join " " -%}
    {%- if include.show-year-tags == true -%}
        {%- assign years = include.submissions | sort: "year" | map: "year" | uniq -%}
        {%- for year in years -%}
            {%- assign used_tags = used_tags | rsort | prepend: " " | prepend: year | prepend: "year-" -%}
        {%- endfor -%}
    {%- endif -%}
    {%- assign used_tags = used_tags | prepend: "all " -%}
    {%- assign used_tags_array = used_tags | split: " " -%}
    <span class="filter-header">Filters:</span>
    {%- for tag in used_tags_array -%}

        <span class="tag-link">
            <!--<input type="checkbox" class="checkbox-filter" id="checkbox-{{tag}}"/>-->
            <label class="badge filter-item filter-toggle"
				  style="background-color:{{ site.data.tags[tag].background-color }}; color:{{ site.data.tags[tag].text-color }};"
                  value="{{tag}}" name="{{tag}}"
                  {%- if tag != 'all' -%} 
                  onclick="toggleFilter(this);"
                  {%- else -%}
                  onclick="filterTags([]);"
                  id = "filter-toggle-all"
                  {%- endif -%}>
                <span class="checkbox-wrapper">
					<span class="tag-link-title">
                    {%- if site.data.tags[tag].icon -%}
						{{ site.data.tags[tag].icon }}
					{%- endif -%}
                    {%- assign count = 0 -%}
                    {%- for sub in include.submissions -%}
                        {%- if sub.tags contains tag -%}
                            {%- assign count = count | plus: 1 -%}
                        {%- endif -%}
                    {%- endfor -%}
                    {{site.data.tags[tag].title}} {%- unless tag == 'all' or tag contains 'year' -%}<span class="tag-link-count">{{count}}</span>{%- endunless -%}
                    </span>
                </span>
            </label>
        </span>
    </span>
    {%- endfor -%}
</div>
