---
# Only the main Sass file needs front matter (the dashes are enough)
---


html
{
	scroll-behavior: smooth;
}


.fa-lg{font-size:1.33333333em;line-height:.75em;vertical-align:-15%}.fa-2x{font-size:2em}.fa-3x{font-size:3em}.fa-4x{font-size:4em}.fa-5x{font-size:5em}

.svg-inline--fa {
    display: inline-block;
    height: 1em;
    overflow: visible;
    vertical-align: -0.125em;
	margin-left:0.2em;
	margin-right:0.2em;
}

@import "fonts";
@import "stylish-portfolio";

$green : #2becaa;

$banner-height: 60px;
.banner
{
	background-color: $green;
	border-radius: calc($banner-height/2);
	height: $banner-height;

	color: #fff;
	font-family: "Lilita One", sans-serif;
	font-size: 2em;
	vertical-align: middle;
}

h1, h2
{
	font-family: "Lilita One", sans-serif;
}
.masthead
{
	h1
	{
		color: #fff;
		font-size: 12em;
		letter-spacing: -0.05em;
	}
	h2
	{
		color: #fff;
		font-size: 3em;
	}
	h3
	{
		color: #fff;
		font-size: 2em;
		font-family: "Lilita One", sans-serif;
	}
}

.dropshadow
{
	text-shadow: 0 0 10px #e17f20;
}

.green
{
	color: $green;
}

