---
layout: default
---

{%- include navigation.html -%}

<section class="content-section bg-light section-padding" id="submissions">
  <div class="ngdc-container">
    <div class="content-section-heading">
      <h2 id="submissions">{{page.title}}</h2>
    </div>

    {{ content }}
    {%- if page.submissions.year != "all" -%}
      {%- assign submissions = site.data.submissions.submissions | where: "year", page.submissions.year -%}
      {%- assign show-year-tags = false -%}
    {%- else -%}
      {%- assign submissions = site.data.submissions.submissions | rsort: "year" -%}
      {%- assign show-year-tags = true -%}
    {%- endif -%}
    {%- if submissions.size > 0 -%}
      {%- include tags.html submissions=submissions show-year-tags=show-year-tags -%}

      {%- for submission in submissions -%}
        {%- include submission.html submission=submission -%}
      {%- endfor -%}
    {%- else -%}
      <p class="no-submissions">No submissions yet !</p>
    {%- endif -%}
  </div>
</section>