---
layout: default
---

<section class="bg-dark text-light" style="background-color:#45b38d!important; padding:2em;" id="navigation">
  <div class="content-section-heading text-center">
    <div class="row">
      <div class="col">
        <a class="ngdc-ms ngdc-btn js-scroll-trigger" href="/archive/">#notGDC
          Archive</a>
        <a class="ngdc-ms ngdc-btn js-scroll-trigger" href="/2023/">#notGDC
          2023</a>
        <a class="ngdc-ms ngdc-btn js-scroll-trigger" href="/2022/">#notGDC
          2022</a>
        <a class="ngdc-ms ngdc-btn js-scroll-trigger" href="/2020/">#notGDC 2020</a>
        <a class="ngdc-ms ngdc-btn js-scroll-trigger" href="/2019/">#notGDC 2019</a>
        <a class="ngdc-ms ngdc-btn js-scroll-trigger" href="/2018/">#notGDC 2018</a>
        <a class="ngdc-ms ngdc-btn js-scroll-trigger"
          href="/2017/">#notGDC 2017</a>
      </div>
    </div>
  </div>
</section>

<section class="content-section bg-light" id="submissions" style="padding-top: 4em;">
  <!--style="background-color:#3f527c"-->
  <div class="container">
    <div class="content-section-heading text-center">
      <h2 id="submissions" class="mb-5" style="font-family:Lilita One">{{page.title}}</h2>
    </div>
    
{{ content }}
{%- if page.submissions.year != "all" -%}
  {%- assign submissions = site.data.submissions.submissions | where: "year", page.submissions.year -%}
  {%- assign show-year-tags = false -%}
{%- else -%}
  {%- assign submissions = site.data.submissions.submissions | rsort: "year" -%}
  {%- assign show-year-tags = true -%}
{%- endif -%}
{%- include tags.html submissions=submissions show-year-tags=show-year-tags -%}

{%- for submission in submissions -%}
    {%- include submission.html submission=submission -%}
{%- endfor -%}

  </div>
</section>